{# app/Resources/views/base.html.twig #}
{% verbatim %}

<script type="text/ng-template" id="cli_list.html">
    <div class="modal-header">
         <div class="col col-md-3">
            <h4>Clientes</h4>
         </div>
         <div class="col col-md-9">
                                 <div class="form-group ">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group col-lg-12 pull-right">
                                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <input type="text" ng-model="filtrocliente"class="form-control" id="exampleInputAmount" placeholder=" Nombre / Contacto / Mail / Telefono">
                            </div>
                        </div>
            </div>

    </div>
    <div class="modal-body" style="max-height: 350px;overflow: visible">
                   <table class="table" ng-if="clientes.length>0">
                    <thead>
                    <tr>
                        <th><a ng-click="sortBy('name')"> Nombre <i class="fa fa-sort" aria-hidden="true"></i> </a></th>

                        <th><a ng-click="sortBy('contacto')"> Contacto <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th><a ng-click="sortBy('mail')"> E-Mail <i class="fa fa-sort" aria-hidden="true"></i> </a></th>
                        <th>Telefono</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cli in clientes | filter:filtrocliente |orderBy:propertyName:reverse" ng-click="select(cli)">

                        <td class="col-md-2">{{ cli.name  }} </td>
                        <td class="col-md-2">{{ cli.contacto  }} </td>
                        <td class="col-md-2">{{ cli.mail }} </td>
                        <td class="col-md-2">{{ cli.phone }} </td>
                    </tr>
                    </tbody>
                </table>

    </div>

    <div class="modal-footer">
        <button class="btn-karcher-sm" ng-click="cerrar()">CERRAR</button>
    </div>
</script>

<script type="text/ng-template" id="cli_modal.html">
    <div class="modal-header">
        <h3>Cliente</h3>
    </div>
    <div class="modal-body">
     <div class="modal-body">
        <fieldset>


            <div class="form-group has-success has-feedback">
                <input
                        ng-model="name"
                        class="form-control"
                        placeholder="Nombre(*)">
            </div>

            <div class="form-group has-success has-feedback">
                <input
                        ng-model="contacto"
                        class="form-control"
                        placeholder="Contacto">
            </div>

            <div class="form-group has-success has-feedback">
                <input
                        ng-model="mail"
                        class="form-control"
                        placeholder="E-Mail">
            </div>


            <div class="form-group has-success has-feedback">
                <input
                        ng-model="mail1"
                        class="form-control"
                        placeholder="E-Mail 2">
            </div>

            <div class="form-group has-success has-feedback">
                <input
                        ng-model="phone"
                        class="form-control"
                        placeholder="Telefono ">
            </div>


            <div class="form-group has-success has-feedback">
                <input
                        ng-model="phone1"
                        class="form-control"
                        placeholder="Telefono 2">
            </div>

            <div class="form-group has-success has-feedback">
                <input
                        ng-model="obs"
                        class="form-control"
                        placeholder="Observaciones">
            </div>


        </fieldset>
    </div>

    </div>
    <div class="modal-footer">
        <button class="btn-karcher-sm" ng-click="saveCliente()">GUARDAR</button>
    </div>
</script>

<script type="text/ng-template" id="dist_modal.html">
    <div class="modal-header">
        <h3>Distribuidor</h3>
    </div>
    <div class="modal-body">
     <div class="modal-body">
        <fieldset>


            <div class="form-group has-success has-feedback">
                <input
                        ng-model="name"
                        class="form-control"
                        placeholder="Nombre(*)">
            </div>

            <div class="form-group has-success has-feedback">
                <input
                        ng-model="descript"
                        class="form-control"
                        placeholder="Descripci贸n">
            </div>

            <div class="form-group has-success has-feedback">
                <input
                        ng-model="email"
                        class="form-control"
                        placeholder="Email">
            </div>

                        <div class="form-group has-success has-feedback">
                <input
                        ng-model="web"
                        class="form-control"
                        placeholder="Web">
            </div>

            <div class="form-group has-success has-feedback">
            <button ng-show="id!=0" ng-click="editing=true" class="btn-karcher-sm">Editar</button>
            <label ng-show="!editing" >{{ direccion_str  }}</label>
            <input ng-show="editing" type="text" ng-model="direccion" placeholder="Ingrese direccion aqui (*)" class="form-control" g-places-autocomplete ng-model="myScopeVar" />
              <!--  <input type="text"  id="Autocomplete" placeholder="Ingrese direccion aqui " class="form-control" ng-autocomplete="result1" ng-change="placeChanged()" on-place-changed="placeChanged(place)" details="details1" options="options1"/>-->
            </div>

        </fieldset>
    </div>

    </div>
    <div class="modal-footer">
        <button class="btn-karcher-sm" ng-click="saveDist()">GUARDAR</button>
    </div>
</script>

<script type="text/ng-template" id="newUserKarcher.html">
    <div class="modal-header">
        <h3>Usuario</h3>
    </div>

    <div class="modal-body">
    <fieldset>


<div class="form-inline">
    <div class="form-group">
     <label>Nombre(*)</label>
     <input
             ng-model="nombre"
             class="form-control"
             placeholder="Nombre">
    </div>

    <div class="form-group">
     <label>Apellido</label>
     <input
             ng-model="apellido"
             class="form-control"
             placeholder="Apellido">
    </div>
</div>
<hr>
            <div class="form-inline">
                <div class="form-group">
                <label>E-Mail(*)</label>
                <input
                        ng-model="mail"
                        class="form-control"
                        placeholder="eMail">
               </div>

               <div class="form-group">
                <label>Telefono</label>
                <input
                        ng-model="phone"
                        class="form-control"
                        placeholder="Telefono">
               </div>
            </div>

<hr>

    <div class="row">
        <div class="col-lg-5">
            <div class="form-group has-success has-feedback">

             <label>Usuario(*)</label>
             <input
                     ng-model="user"
                     class="form-control"
                     placeholder="Usuario">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group has-success has-feedback">
             <label>Clave(*)</label>
             <div class="form-inline">
               <a ng-click="editPass()" class="btn btn-sm  btn-karcher-sm-table"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>

              <input
                     type="password"
                     ng-model="pass"
                     class="form-control"
                     placeholder="Clave" ng-disabled="passedite">
              </div>
            </div>
        </div>
    </div>




<hr>
            <div class="row">
                <div class="col-lg-4">
                            <div class="form-group has-success has-feedback">

                                <label>Perfil :</label>

                                <select  class="form-control" name="typematerial" id="mySelect"
                                 ng-options="perfil.name for perfil in perfiles track by perfil.id"

                                 ng-model="profileselected"></select>

                            </div>
</div>
                <div class="col-lg-4">

                        <div class="form-group has-success has-feedback">

                            <label>Rol :</label>

                            <select  class="form-control" ng-change="reloadBosses()" name="typematerial" id="mySelect"
                             ng-options="level.name for level in levels track by level.id"

                             ng-model="levelselected"></select>

                        </div>

</div>
                <div class="col-lg-4">


                       <div class="form-group has-success has-feedback">

                       <label>Punto de Distribuci贸n :</label>



                                <select  class="form-control" style="padding-right: 0px !important;" name="typematerial" id="mySelect"
                                 ng-options="dist.name for dist in dists track by dist.id"

                                 ng-model="distsselected"></select>
                        <!--<select   ng-change=bosseschane()  class="form-control"  name="ngvalueselect" ng-model="bosseselected"  data-ng-change="fixIE()" multiple>
                            <option ng-repeat="bosse in bosses" ng-value="bosse.id"><span>{{bosse.name + " " +  bosse.lastName}}</span></option>
                        </select>-->

                        </div>
</div>
            </div>



        </fieldset>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn-karcher-sm pull-right" ng-click="saveUser()">Guardar</button>
    </div>
</script>


<script type="text/ng-template" id="material_karcher_form.html">
    <div class="modal-header">
        <h3>Maquina</h3>
    </div>
    <div class="modal-body">
        <fieldset>

            <div class="form-group has-success has-feedback">
                <input
                        ng-model="name"
                        class="form-control"
                        placeholder="Nombre">
            </div>

            <div class="form-group has-success has-feedback">


                <select  class="form-control" name="origenmaterial" id="mySelect1"
                         ng-options="descript.name for descript in materialDescript track by descript.id"
                         ng-model="materialDescriptSelected"></select>

            </div>

            <div class="form-group has-success has-feedback">
                <input
                        ng-model="model"
                        class="form-control"
                        placeholder="Modelo">
            </div>


            <div class="form-group has-success has-feedback">
                <input
                        ng-model="pn"
                        class="form-control"
                        placeholder="Numero de Parte">
            </div>



            <!--<div class="form-group has-success has-feedback">
                <input
                        ng-model="serial_n"
                        class="form-control"
                            placeholder="Numero de Serie">
            </div>-->




            <div class="row">
            <div class="col-lg-6" style="padding-left: 0px!important;">
                <div class="form-group has-success has-feedback">
                        <label>Grupo (Product Mix):</label>

                        <select  class="form-control" name="typematerial" id="mySelect"
                         ng-options="type.name for type in types track by type.id"

                         ng-model="typematerial"></select>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group has-success has-feedback">
                        <label>Origen:</label>

                        <select  class="form-control" name="origenmaterial" id="mySelect1"
                         ng-options="origen.name for origen in origenes track by origen.id"
                         ng-model="origenmaterial"></select>
                </div>

            </div>
            </div>


        </fieldset>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn-karcher-sm pull-right " ng-click="saveMaterial()">Guardar</button>
    </div>
</script>

<script type="text/ng-template" id="modal_orden.html">
    <div class="modal-header">
        <h3>Orden: {{orden.numero}} </h3>
    </div>
    <div class="modal-body">
        <fieldset>

            <div class="row">

                <div class="form-group has-success has-feedback">
                        <label>Tecnico:</label>

                    <select  class="form-control" name="typematerial" id="user"
                             ng-change="changeTec()"
                             ng-options="user.name for user in orderUsersDist track by user.id"
                             ng-model="ordertec"></select>
                </div>
                <div class="form-group has-success has-feedback">
                        <label>Estado:</label>

                        <select  class="form-control" ng-disabled="ordertec.id==0" name="typematerial" id="est"
                                 ng-options="est.name for est in orderEstados track by est.id"
                                 ng-model="orderest"></select>
                </div>
                    <div class="form-group has-success has-feedback">
                        <label>Observaciones:</label>
                           <textarea rows="5" id="obs"  ng-model="orden.obs" class="form-control"></textarea>
                    </div>


            </div>

        </fieldset>


    </div>
    <div class="modal-footer">
    <button type="button" class="btn-karcher-sm pull-left " ng-click="cerrar()">Cerrar</button>
        <button type="button" class="btn-karcher-sm pull-right " ng-click="save()">Guardar</button>
    </div>
</script>

<script type="text/ng-template" id="dist_admin.html">
    <div class="modal-header">
        <h3>Administrador : {{item.admin}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">Email: </div>
            <div class="col-md-8">{{item.mail}}</div>
        </div>

        <div class="row">
            <div class="col-md-4">Telefono: </div>
            <div class="col-md-8">{{item.phone}}</div>
        </div>

        <div class="row">
            <div class="col-md-4">Habilitado: </div>
            <div class="col-md-8" ng-if="item.disabled==1">No</div>
            <div class="col-md-8" ng-if="item.disabled==0">Si</div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn-karcher-sm pull-right " ng-click="cerrar()">Cerrar</button>
    </div>
</script>


<script type="text/ng-template" id="modal_barcode.html">
    <div class="modal-header">
        <h3>Orden : {{value}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="height: 100px;text-align: center" id="printable">
        <ng-barcode
            ng-barcode-input="{{ value }}"
            ng-barcode-code="code39"
            ng-barcode-color="{{demoCtrl.colorBarcode()}}"
            ng-barcode-background="{{demoCtrl.colorBackground}}">
        </ng-barcode>
            <label>{{value}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-karcher-sm pull-right " ng-click="print()">Imprimir</button>
        <button type="button" class="btn-karcher-sm pull-left " ng-click="cerrar()">Cerrar</button>
    </div>
</script>

<script type="text/ng-template" id="perfil_form_karcher.html">
    <div class="modal-header">
        <h3>Perfil</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group has-success has-feedback">
                <input
                        ng-model="name"
                        class="form-control"
                        placeholder="Nombre(*)">
            </div>


            <div class="form-group has-success has-feedback">
                <input
                        ng-model="descript"
                        class="form-control"
                        placeholder="Descripci贸n(*)">
            </div>
            <hr>

                       <ul class="nav nav-tabs">
                        <li class="active">
                        <a data-toggle="tab" href="perfiles_abm#home">Ordenes</a></li>
                        <li><a data-toggle="tab" href="perfiles_abm#menu1">Disitribuci贸n</a></li>
                        <li><a data-toggle="tab" href="perfiles_abm#menu2">Maquinas</a></li>
                        <li><a data-toggle="tab" href="perfiles_abm#menu3">Usuarios</a></li>
                        <li><a data-toggle="tab" href="perfiles_abm#menu4">Clientes</a></li>
                        <li><a data-toggle="tab" href="perfiles_abm#menu5">Reportes</a></li>
                       </ul>

                       <div class="tab-content">
                         <div id="home" class="tab-pane fade in active">
                           <h3><input ng-model="perfil.ordenes.all" type="checkbox" value=""> Ordenes</h3>
                            <div class="row">
                                <div class="col-lg-4">
                                <input ng-checked="perfil.ordenes.all && perfil.ordenes.nueva"  ng-model="perfil.ordenes.nueva" type="checkbox" value=""> Nueva Orden</div>
                                <div class="col-lg-4">
                                <input ng-checked="perfil.ordenes.all && perfil.ordenes.control" ng-model="perfil.ordenes.control" type="checkbox" value="">
                                 Control</div>
                                <input ng-checked="perfil.ordenes.all && perfil.ordenes.historico" ng-model="perfil.ordenes.historico" type="checkbox" value="">
                                 Historico</div>
                            </div>


                         <div id="menu1" class="tab-pane fade">
                           <h3><input ng-model="perfil.dist.all" type="checkbox" value=""> Distribuidores</h3>
                           <div class="row">
                            <div class="col-lg-6"><input ng-checked="perfil.dist.all && perfil.dist.abm" ng-model="perfil.dist.abm"type="checkbox" value=""> ABM Sitios</div>
                           </div>
                         </div>

                         <div id="menu2" class="tab-pane fade">
                           <h3><input ng-model="perfil.maquinas.all" type="checkbox" value=""> Maquinas</h3>
                                <div class="row">
                                    <div class="col-lg-4"><input ng-checked="perfil.maquinas.all && perfil.maquinas.abm_grupo" ng-model="perfil.maquinas.abm_grupo" type="checkbox" value=""> ABM Grupos</div>
                                    <div class="col-lg-4"><input ng-checked="perfil.maquinas.all && perfil.maquinas.abm_origen" ng-model="perfil.maquinas.abm_origen" type="checkbox" value=""> ABM Origen</div>
                                    <div class="col-lg-4"><input ng-checked="perfil.maquinas.all && perfil.maquinas.abm" ng-model="perfil.maquinas.abm" type="checkbox" value=""> ABM Maquinas</div>

                                </div>
                         </div>

                         <div id="menu3" class="tab-pane fade">
                           <h3><input ng-model="perfil.users.all" type="checkbox" value=""> Usuarios</h3>
                                <div class="row">
                                    <div class="col-lg-6"><input ng-checked="perfil.users.all && perfil.users.abm_perfiles" ng-model="perfil.users.abm_perfiles" type="checkbox" value=""> ABM Perfiles</div>
                                    <div class="col-lg-6"><input ng-checked="perfil.users.all && perfil.users.abm" ng-model="perfil.users.abm" type="checkbox" value=""> ABM Usarios</div>
                                </div>
                         </div>

                         <div id="menu4" class="tab-pane fade">
                           <h3><input ng-model="perfil.clients.all" type="checkbox" value=""> Clientes</h3>
                                <div class="row">
                                    <div class="col-lg-6"><input ng-checked="perfil.clients.all && perfil.clients.abm" ng-model="perfil.clients.abm" type="checkbox" value=""> ABM Usarios</div>
                                </div>
                         </div>

                          <div id="menu5" class="tab-pane fade">
                          <h3><input type="checkbox" value="" ng-model="perfil.reportes.all">  Reportes</h3>
                             <div class="row">
                <!--                <div class="col-lg-3"><input ng-checked="perfil.reportes.all && perfil.reportes.stock_maestro" ng-model="perfil.reportes.stock_maestro" type="checkbox" value=""> Reporte 1</div>
                                <div class="col-lg-3"><input ng-checked="perfil.reportes.all && perfil.reportes.stock_tec" ng-model="perfil.reportes.stock_tec" type="checkbox" value=""> Reporte 2</div>
                                <div class="col-lg-3"><input ng-checked="perfil.reportes.all && perfil.reportes.stock_sit" ng-model="perfil.reportes.stock_sit" type="checkbox" value=""> Reporte 3</div>-->
                         </div>
                       </div>
                       </div>
            </div>


        </fieldset>


    </div>
    <div class="modal-footer">
        <a class="btn btn-success" ng-click="saveProfile()">Guardar</a>
    </div>
</script>
<script type="text/ng-template" id="modal_orders.html">
    <div class="modal-header">
        <h3>Orden : {{order.numero}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
                 <div class="col-md-4">
                    <label>Fecha Ingreso: {{order.fing}}</label><br>
                    <label>Fecha Cierre: {{order.fclose}}</label><br>
                    <label>Ingresada por: {{order.tecnico_rec}}</label><br>
                    <label>Tecnico Asignado: {{order.tecnico_name}}</label><br>
                    <label>Tipo Orden: {{ordertype}}</label><br>
                    <label>Centro de Atencion: {{order.dist_name}}</label><br>
                    <label>Prioridad: {{orderpri}}</label><br>
                    <label>Observaciones: {{order.obs}}</label>
                 </div>
                 <div class="col-md-4">
                    <label>Cliente: {{order.cuno}}</label><br>
                    <label>Contacto: {{order.nme}}</label><br>
                    <label>Email: {{order.eml}}</label><br>
                    <label>Telefono: {{order.phn}}</label><br>
                 </div>
                 <div class="col-md-4">
                    <label>Maquina: {{order.maquina}}</label>
                    <label>Modelo: {{order.prod_mdl}}</label>
                    <label>Serie: {{order.prod_sn}}</label><br>
                    <label>Accesorio 1: {{order.acc1}}</label><br>
                    <label>Accesorio 2: {{order.acc2}}</label><br>
                    <label>Accesorio 3: {{order.acc3}}</label><br>
                    <label>Accesorio 4: {{order.acc4}}</label><br>
                    <label>Accesorio 5: {{order.acc5}}</label><br>
                    <label>Accesorio 6: {{order.acc6}}</label><br>
                    <label>Accesorio 7: {{order.acc7}}</label><br>
                    <label>Accesorio 8: {{order.acc8}}</label>
                 </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn-karcher-sm pull-left " ng-click="cerrar()">Cerrar</button>
    </div>
</script>

<script type="text/ng-template" id="modal_mensaje.html">
    <div class="modal-header">
        <h3>Mensaje de  : {{men.origen }}</h3>
        <h4>Fecha : {{men.date | date }}</h4>

    </div>
    <div class="modal-body">
            <fieldset class="form-horizontal">


            <div class="form-group has-success has-feedback">
                <label for="acc8" class="col-sm-3 control-label label-form">Asunto</label>
                <div class="col-sm-9">
                    <input  ng-model="men.asunto" disabled class="form-control" id="acc8">
                </div>
            </div>
            <div class="form-group has-success has-feedback">
                <label for="obs" class="col-sm-3 control-label label-form">Mensaje:</label>
                <div class="col-sm-9">
                    <textarea rows="3" id="obs"  ng-model="men.mensaje" disabled class="form-control"></textarea>
                </div>
            </div>

        </fieldset>
</div>
<div class="modal-footer">
        <button type="button" class="btn-karcher-sm pull-left " ng-click="cerrar()">Cerrar</button>
    </div>

    </script>



{% endverbatim %}